:root {
  --night: rgb(0, 0, 0);
}

body {
  background-color: var(--night);
}

.form-container {
  background-color: white !important;
  padding: 2em;
  text-align: center;
  margin-top: 10%;
  border-radius: 1em;
  width: 35em !important;
}

.form-inputs {
  display: flex;
  flex-direction: column;
}

h2 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.form-group {
  padding: 0.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  width: 120px; /* Adjust as needed for proper alignment */
  text-align: left;
}

input {
  width: 100%;
  height: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 2px solid black;
  border-top: none;
  border-left: none;
  border-right: none;
  flex-grow: 1;
}

input:focus {
  outline: rgb(12, 12, 12) !important;
}

input::placeholder {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  color: rgb(168, 166, 166);
}

.btn {
  margin-top: 1em;
  padding: 1em;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  background-color: black;
  color: white;
  border-radius: 5px;
  border: none;
}

.btn:focus {
  background-color: rgb(72, 70, 70);
}

.register,
.login {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin: 10px;
}

.register a,
.login a {
  color: rgb(106, 159, 202);
  text-decoration: none;
}

.register a:hover,
.login a:hover {
  text-decoration: underline;
}

.register a:visited,
.login a:visited {
  color: rgb(106, 159, 202) !important;
}

.nav1 a {
  font-family: "Roboto" !important;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 12px;
  text-decoration: none;
}

.nav1 a:hover {
  text-decoration: underline;
}
